.related span.suggested-price,
.related .woocommerce-Price-amount.amount,
.quickview-container span.suggested-price,
.quickview-container .woocommerce-Price-amount.amount,
.products.products-grid .woocommerce-Price-amount.amount,
.products.products-grid span.suggested-price,
form.cart,
.setting-popup.pull-left,
.topbar-inner .pull-right,
.archive-shop div.product .information .price {
    display: none;
}

.product-block.grid .groups-button .addcart {
    display: none !important;
}

.product-block.grid .groups-button>.quick-view {
    width: 100% !important;
}

a.btn.btn-outline {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 10px;
    margin-top: 5px;
    background: #F1F1F1;
    color: #333;
    position: relative;
    width: 100%;
    border: 5px solid;
    box-sizing: border-box;
}